
body {
   /*vp = percentual de viewport height*/
  background: #F7F7FF;
}
main h1,h2,h3{
  font-family: 'Righteous', cursive;
}
main h1{
  font-size: 3rem;
  letter-spacing: 0.3rem;
  color: #001021;
}
main h2{
  font-size: 1.8em/1;
  letter-spacing: 0.05rem;
  color: #495867;
}
main p{
  font: 400 1.1em/1 'Roboto Condensed', sans-serif;
  text-align: justify;
  text-justify: inter-word;
}


#go-up-button{
  display: none;
  position: fixed;
	right: 3rem;
	bottom: 4rem;

  z-index: 10;
  
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer;

	width: 2rem;
	height: 2rem;
	
  padding: 4px;

	
	justify-content:center;
  align-items:center;

  background-color:#F7F7FF;
}

#go-up-button a{
  display: inline-block;
}

#go-up-button img{
  
  width: 20vh;
}


.sidenav a{
  transition: all .25s ease;
  text-decoration: none;
}

#textmenu a{
  
  padding: 3px 0px;
  letter-spacing: 0.1rem;
  font: 400 1.2em/1 'Roboto Condensed', sans-serif;
  color: #495867;
}

#textmenu a:hover{
  color: #FE5F55;
}


/*content of menu */
#pixel-art:hover span{display:none;}
#pixel-art:hover:before{content:">Pixel Art.exe";}
#tresD:hover span{display:none;}
#tresD:hover:before{content:">3D.exe";}
#games:hover span{display:none;}
#games:hover:before{content:">Games.exe";}
#projects:hover span{display:none;}
#projects:hover:before{content:">Projects.exe";}

#socialmedia a{
  padding: 0px 10px;
  display: inline-block;
  vertical-align: bottom;
}
#socialmedia img{
  width: 120%;
  height: 120%;
  vertical-align: bottom;
  
}
#socialmedia img:hover{
  filter: invert(50%) sepia(30%) saturate(3514%) hue-rotate(328deg) brightness(104%) contrast(99%); /*simulando a cor #FE5F55 */
  /* usei https://codepen.io/sosuke/pen/Pjoqqp  para gerar esse filtro*/
}

#footer-note footer{
  padding: 10px;
  text-align: center;
  font: 400 0.8em/1 'Roboto Condensed', sans-serif;
  color: #BDD5EA;
}

/*Mobile*/
main {
  margin: 70px 10% 0px 10%;
}

#menu{
  display: none;
  background-color: #F7F7FF;
  padding: 50% 2px 80%;
  text-align: center;
  
}
.sidenav hr{
  width: 100%;
  
  margin: 5px auto 0px;
  /* Orange Red Crayole */
  border: 4px dashed #FE5F55;
}

.sidenav{
  
  display: block;
  flex-direction: row;
  align-items: flex-start;
  padding: 2% 2%;  /*15px 18px*/

  position: fixed;
  z-index: 1; /* Stay on top */
  background-color: #F7F7FF;

  height: 8%;
  left: 5px;
  right: 5px;
  top: 0px;
}


.sidenav img{
  /*transition: all .5s ease; Causa um efeito dos filtros passando um por um nas imagens de social media*/
  height: 100%; 
  margin-left: 10%;
}

#mobile-menu a{
  display: block;
  position: absolute;
  right: 10%;
  top: 25%;
  height: 50%;
}

#mobile-menu img{
  height: 5.5vh;
}

#socialmedia{
  display: inline-flex;
  padding: 10px;
}


#textmenu{
  display: grid;
  text-align: center;
  padding: 20px 30%;
}

#footer-note{
  display: none;
}



/* Desktop Mode*/
@media only screen and (min-width: 768px) {
  main {
    margin: 60px 0px 0px 20%;
    padding: 0px 60px;
    text-align: center;
  }
  .sidenav{
    
    top: 0%; /* Stay at the top */
    left: 0%;

    margin: 80px 0px 0px 10%;
    width: 280px;
    display: block;
    text-align: center;
    background-color: transparent; 

    height:initial;
  } 
  .sidenav img{
    margin-left: initial;
  }

  #textmenu {
    margin: 65px 76px;
    text-align: center;
    display: grid;
    padding: initial;

  }

  #socialmedia{
    display: inline;
  }
  #socialmedia img{
    width: 120%;
    height: 120%;
  }
  
  #footer-note{
    display: initial;
  }
  #mobile-menu{
    display: none;
  }

  #menu{
    background: initial;
    padding: initial;
    display: block;
  }
  .sidenav hr{
    display: none;
  }

}

/*when in landscape mode on mobile when is the height is too small (Temporario, o menu tem q ser superior como no modo em pé*/

@media only screen and (max-height:414px){

  .sidenav{
    margin: 0px;
  }
  #menu{
    padding: 0 2px 200px;
  }
  
  #mobile-menu a{
    height :initial;
  }

  #textmenu{
    margin: 10px;
    
  }

  


}