body {
  background-color: #f2f3f3;
}
hr{
  border: dotted #064acb 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}
/*MENU*/
.sidenav{
   position: fixed;
   width: 160px;
   z-index: 1;/* Stay on top */
   top: 20px;
   left: 10px;
   /*background: #eee;*/
   overflow-x: hidden;
   padding: 16px 0px;
}
.sidenav img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* The navigation menu links */
.sidenav a {
  padding: 0px 24px;
  text-decoration: none;
  font-size: 20px;
  color: #366ed8;
  display: block;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #064acb;
}

.textmenu{
  padding-top: 16px;
}



/* Style page content */
.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding-right: 10px;
}

/* CONTEUDO*/
.top-container{
  margin: 32px 0;
  text-align: center;
}
.middle-container{
  margin: 100px 0;
}
.introbox{
  margin: 100px auto 200px auto;
  width:80%;
  text-align:  left;
}
.profile-img{
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}
.pixelart{

  margin: 100px auto 100px auto;
  width:80%;
  text-align:  left;

}
.lista-jogos{
  margin: 20px auto 100px auto;

  text-align: left;
}
.games{

  margin: 100px auto 100px auto;
  width:80%;
  text-align:  left;

}

.copyright{
  color: #064acb;
  font-size: 0.75rem;
  padding: 20px 0;
}

.bottom-container{
  margin-bottom: 0;
  padding: 50px 0 20px;

  position: relative;
  text-align: center;
}
